<!DOCTYPE html>
<html>
<head>
    <title>Compliance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container"></div>    
<h2>Compliance Mapping</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Control</th>
        <th>Standard</th>
        <th>Regulation</th>
        <th>Status</th>
    </tr>

    {% for c in compliance %}
    <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.standard }}</td>
        <td>{{ c.regulation }}</td>
        <td>{{ c.status }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">Back to Home</a>
</div>

</body>
</html>
