<!DOCTYPE html>
<html>
<head>
    <title>Risks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container"></div>
<h2>Risk Register</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Asset</th>
        <th>Score</th>
        <th>Level</th>
    </tr>

    {% for risk in risks %}
    <tr>
        <td>{{ risk.id }}</td>
        <td>{{ risk.name }}</td>
        <td>{{ risk.score }}</td>
        <td>{{ risk.level }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">Back to Home</a>
</div>

</body>
</html>
